/* 二维码展示页面Css*/

body,html{
    height:100%;
}  
.logo-img {
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.login_box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -270px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    width: 380px;
    height: 540px;
    box-shadow: 0 2px 10px #999;
    -moz-box-shadow: #999 0 2px 10px;
    -webkit-box-shadow: #999 0 2px 10px;
}

.imgqr{
    display: block;
    width: 230px;
    height: 230px;
    margin: 42px auto 12px;
    padding: 20px 20px;
}
.sub_title{
    padding-top: 120px;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #353535;
    margin-bottom: 23px;
}
/* 登录界面Css*/
.login-background{
    position:fixed;
    z-index:-10;
    width:100%;
    height:100%;
}
.login{
    position: absolute;
    z-index: 10;
    width: 360px;
    height:636px;
    background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.8) 0%, rgba(50, 47, 223, 0.74) 100%);
    background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(50, 47, 223, 0.74) 100%);
    top:20.5%;
    left: 40.6%;
}
.refresh{
    position: absolute;
    z-index: 10;
    display: block;
    width: 50px;
    height: 50px;

    padding: 20px 20px;
    margin-left: 143px;
    margin-top: 30px;

}
.bigvideo{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #AEDD81;
    padding: 0px;
    width: 400px;
    height: 600px;
    margin-left:-150px;
    margin-top:-250px;
    text-align: center
}
