<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
        // const isType=type=>target=>`[object ${type}]`===Object.prototype.toString.call(target)
        // const isArray=isType(`Array`)
        // console.log(isArray([]))
        window.onload = function () {
            var o = document.createElement("input");

            o.type = "button";

            o.value = "按钮";

            o.onclick = function () {
                alert(1)
            }
            document.body.appendChild(o);

            document.getElementById("button1").onclick = function () {
                var o = document.createElement("input");

                o.type = "button";

                o.value = "按钮1";

                o.onclick = function () {
                    alert(1)
                }
                document.body.appendChild(o);
            }
            document.getElementById("button2").onclick = function () {
                console.log("button2")
                document.getElementById("button2").onclick=function(){
                    console.log("button22")
                }
            }
        }

        // const selfMap=function(fn,context){
        //     let arr=Array.prototype.slice.call(this)
        //     let mapperArr=[]
        //     for(let i=0;i<arr.length;i++){
        //         mapperArr.push(fn.call(context,arr[i],i,this))
        //     }
        //     return mapperArr
        // }
        // window.selfMap=selfMap
        // var arr=[1,2,3,4]
        // arr.selfMap(function(item){
        //     console.log(item)
        // })
    </script>
    <input type="button" value="button1" id="button1" />
    <input type="button" value="button2" id="button2" />
</body>

</html>